<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tech Talk</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
</head>

<body>
  <nav class="navbar mt-3 has-background-grey-lighter">
    <h1 class="title is-1 has-text-centered ml-5 mt-3">Tech Talk</h1>
    <a class="navbar-item navbar-start ml-5 is-size-4" href="/">Home</a>
    {{#if loggedIn}}
    <a class="navbar-item is-size-4" href="/dashboard">Dashboard</a>
    <a class="navbar-item navbar-end mr-5 is-size-4" id="logout" href="#">
      Logout
    </a>
    {{else}}
    <a class="navbar-item navbar-end mr-5 is-size-4" href="/login">Login/Sign Up</a>
    {{/if}}
  </nav>
  <h1>Tech Talk</h1>
  <main>
    {{#if loggedIn}}
    {{{body}}}
    {{else}}
    <div class="mt-5">
      <h2 class="title has-text-centered is-size-1">Welcome to Tech Talk!</h2>
      <h3 class="subtitle has-text-centered is-size-2">Here at Tech Talk we
        talk all things tech. To begin posting or viewing our content sign
        up, which will always be free, or if you already have an account
        sign in!</h3>
    </div>
    {{/if}}

{{!-- MAKE A POST BUTTON FOR LOGGEDIN --}}

  </main>

  {{#if loggedIn}}
  <script src="/public/js/logout.js"></script>
  {{/if}}
</body>

</html>