<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Tech Talk</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
</head>

<body>
  <nav class="navbar mt-3 has-background-grey-lighter">
    <h1 class="title is-1 has-text-centered ml-5 mt-3">Tech Talk</h1>
    <a class="navbar-item navbar-start ml-5 is-size-4" href="/">Home</a>
    {{#if loggedIn}}
    <a class="navbar-item is-size-4" href="/dashboard">Dashboard</a>
    <a class="navbar-item navbar-end mr-5 is-size-4" id="logout" href="#">
      Logout
    </a>
    {{else}}
    <a class="navbar-item navbar-end mr-5 is-size-4" href="/login">Login/Sign Up</a>
    {{/if}}
  </nav>
  <main>
    {{{body}}}
  </main>


</body>

</html>