<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Talk</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      {{if loggedIn}}
      <li><a href="/"></a></li>
    </ul>
  </nav>
  {{!-- <div> --}}
    <h1>Tech Talk</h1>
  {{!-- </div> --}}
  <main>
    {{{body}}}
  </main>
    
    <script src="/public/js/login.js"></script>
    <script src="/public/js/logout.js"></script>
</body>
</html>