<div>
    <h3 class="has-text-centered title mt-4">Edit Post</h3>
    <form id="editForm">
        <div class="section">
            <label class="subtitle" for="pTitle">Title</label>
            <input class="input" type="text" id="pTitle" value="{{title}}" />
        </div>
        <div class="section">
            <label class="subtitle" for="pContent">Post</label>
            <textarea class="textarea" id="pContent">{{content}}</textarea>
        </div>
        <div class="section">
            <button class="button is-info is-medium is-fullwidth" type="submit">Update
                Post</button>
        </div>
    </form>
</div>

<script src="/js/edit.js"></script>