{{#each posts as |post|}}
<div>
   <div>
      <h3>
         <a href="/post/{{post.id}}"></a>
      </h3>
   </div>
   <div>
      Posted by 
      {{post.user.username}}
      on
      {{format_date post.date_created}}
   </div>
   <div>
      <p>{{post.content}}</p>
   </div>
</div>
{{/each}}