  <div class="section is-medium">
            <div class="section has-text-centered title">
                <h1>Login</h1>
            </div>
            <form class="loginForm">
                 <div class="section">
                <label for="emailLog" class="is-size-4">Email</label>
                <input type="text" id="emailLog" class="input" placeholder="example@test.com">
            </div>
                <div class="section">
                <label for="passLog" class="is-size-4">Password</label>
                <input type="password" id="passLog" class="input">
            </div>
            <button type="submit" class="button is-fullwidth has-background-info has-text-white">Login</button>
            </form>
            <div>
            <a href="/signup">Sign up for an account here</a>
            </div>
<script src="./js/login.js"></script>