  <div class="section is-medium">
      <div class="section has-text-centered title">
        <h1>Sign Up</h1>
      </div>
      <form id="loginForm">
        <div class="section">
          <label for="nameSign" class="is-size-4">Username</label>
          <input type="text" class="input">
      </div>
        <div class="section">
          <label for="emailSign" class="is-size-4">Email</label>
          <input type="text" class="input" placeholder="example@test.com">
        </div>
        <div class="section">
          <label for="passSign" class="is-size-4">Password</label>
          <input type="text" class="input">
        </div>
        <button type="submit" class="button is-fullwidth">Signup</button>
      </form>
      <div>
        <p>Already have an account? <a href="/singup">Sign in here</a></p>
      </div>

      <script src="/public/js/login.js"></script>